* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    font-family: var(--paragraph-font-family);
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

/* Reset images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    /* Primary colors */
    --red-400: hsl(7, 99%, 70%);
    --yellow-500: hsl(51, 100%, 49%);
    --green-800-graphic-design-text: hsl(167, 40%, 24%);
    --blue-800-photography-text: hsl(198, 62%, 26%);
    --green-500-footer: hsl(167, 34%, 41%);

    /* Neutral colors */
    --grey-950: hsl(212, 27%, 19%);
    --grey-600: hsl(213, 9%, 39%);
    --grey-550: hsl(232, 10%, 55%);
    --grey-400: hsl(210, 4%, 67%);
    --white: hsl(0, 100%, 100%);

    /* Font family */
    --paragraph-font-family: 'Barlow', sans-serif;
    --heading-font-family: 'Fraunces', serif;
}

/* Header */
header {
    /* height: 100vh; */
    background-image: url('./images/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navigation */
nav {
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links-desktop {
    margin-left: auto;
    display: none;
    gap: 2rem;
}

.nav-links-mobile {
    display: none;
}

/* Hero section */
.hero-section {
    padding: 2.5rem 1.5rem 6rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
}

.hero-section h1 {
    color: var(--white);
    font-family: var(--heading-font-family);
    font-size: clamp(2rem, 5vw, 4rem);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4rem;
}

/* Main */

/* About section */
.about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    order: 1;
}

/* Section title */
.section-title {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-family: var(--heading-font-family);
    text-align: center;
    width: 80%;
}

/* Section description */
.section-description {
    color: var(--grey-600);
    font-weight: 500;
    font-family: var(--paragraph-font-family);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.6;
    text-align: center;
}

/* Learn More button */
.btn-learn-more {
    font-family: var(--heading-font-family);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
}

.btn-learn-more::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    margin-top: -0.4rem;
}

.btn-learn-more.yellow::after {
    background-color: hsla(51, 100%, 49%, 0.405);
}

.btn-learn-more.purple::after {
    background-color: hsla(7, 99%, 70%, 0.429);
}

/* Stand Out section */

.stand-out-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stand-out-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    order: 1;
}

/* Services section */

.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    position: relative;
}

.service-content {
    padding: 0 2rem;
    position: absolute;
    top: 22rem;
    left: 0;
}

.graphic-design-content {
    color: var(--green-800-graphic-design-text);
}

.photography-content {
    color: var(--blue-800-photography-text);
}

.service-title {
    font-weight: 900;
    font-family: var(--heading-font-family);
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    text-align: center;
    padding-bottom: 1rem;
}

.service-description {
    font-family: var(--paragraph-font-family);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: 500;
    text-align: center;
}

/* Testimonials section */
